body {
  background-color: var(--navy);
  background-image: url("./../../imgs/LogoQueen30.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
}

.containerLogin {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.form{
  text-align: center;
}

.containerTittle, .containerLogo{
  display: flex;
  justify-content: center;
}

.containerTittle{
  margin-top: 5%;
}

.imgTittle{
  height: 100%;
  width: 100%;
}

.hiperlink{
  color: var(--off-white);
}
