body {
  background-color: var(--navy);
  background-image: url("./../../imgs/LogoQueen30.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  height: 100vh;
}
.containerRegister {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}
.containerFigureTittle{
  display: flex;
  justify-content: center;
  margin-top: 5%;
}
.imgTittle{
  height: 100%;
  width: 100%;
}
.form{
  text-align: center;
}
.hiperlink{
  color: var(--off-white);
}

@media screen and (min-width: 576px){
  .imgTittle{
    height: 80%;
    width: 80%;
  }
}

@media screen and (min-width: 768px){
  .imgTittle{
    height: 70%;
    width: 70%;
  }
}

