@import "./../../global.style.module.css";

body {
  background-color: var(--light-blue);
}
.header{
 display: flex; 
 border-bottom: solid 2px;
 margin: 3% 0;
 /* justify-content: space-around; */
}

.containerLogin {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.menuItem{
  font-size: 1.5em;
  margin-top: 10px;
  padding: 10px;
}
.tittleMenu{
 color: var(--black);
 font-size: 1.5em;
  margin-top: 2%;
}
.optionsMenu{
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
  border-bottom: solid 2px;
}
