@import "./../../global.style.module.css";

.sectionHall{
  background-color: var(--light-blue);
}
.header{
 display: flex; 
 align-items: center;
 border-bottom: solid 2px;
}
.menuItem{
  font-size: 1.5em;
  margin-top: 10px;
  padding: 10px;
}
.tittleMenu{
 color: var(--black);
 font-size: 2em;
}
.optionsMenu{
  display: flex;
  justify-content: space-between;
  margin-top: 7%;
  border-bottom: solid 2px;
}
.textButton{
  font-size: 1.25em;
}
.sectionInfoClient{
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
.sectionCards{  
  height: calc(100vh - 180px);
  width: 100%;
  margin-top: 5%;
  overflow: auto;
}

.containerCards{
  background-color: var(--grey);
  border-radius: 10px;
}
.containerProducts{
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  justify-content: space-between;
  gap:10px;
}
