@import "./../../global.style.module.css";

.listCards{
  display: flex;
  flex-direction: column;
  width: 180px;
  border-radius: 15px;
  gap: 10px;
  background-color: var(--grey);
  text-align: center;
}
.imgMenu{
  height: 100%;
  border-radius: 10px 10px 0 0;
}
.nameProduct{
  font-size: large;
}
li{
  list-style-type: none;
}
