.countContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  background-color: var(--grey);
  border-radius: 0 0 10px 10px;
}
.imgIncrease, .imgDecrease{
  height: 30px;
  width: 30px;
}
