.liTemplate{
  width: 100%;
  height: 90%;
  font-size: 1.25em;
}
.div, .complement{
  display: flex;
  gap: 20px;    
  width: 100%;
}
.complement{
  margin-left: 8%;
}

.productName{ 
  font-weight: bold;
  width: 40%;
}
.btnRemove{
  height: 80px;
}
.imgRemove{
  height: 100%;
}