@import "./../../global.style.module.css";

.ulMenu {
  display: block;
  gap: .5rem;
  position: absolute;
  width: 60%;
  left: 0;
  background: var(--light-yellow);
  transition: .6s;
  height: 0px;
  z-index: 1;
  visibility: hidden;
  overflow-y: hidden;
  border: 0px 1px 1px 1px solid var(--off-white);

}

.btnMobile {
  display: flex;
  padding: .5rem;
  background: none;
  cursor: pointer;
  gap: .5rem;
}

.spamHamburguer {
  border-top: 2px solid var(--black);
  width: 25px;
  margin-top: 5px;
}

.spamHamburguer::after,
.spamHamburguer::before {
  content: '';
  display: block;
  width: 25px;
  height: 2px;
  background: var(--black);
  margin-top: 5px;
  transition: .3s;
  position: relative;
}

.active.active .spamHamburguer {
  border-top-color: transparent;
}

.active.active .spamHamburguer::before {
  transform: rotate(135deg);

}

.active.active .spamHamburguer::after {
  transform: rotate(-135deg);
  top: -7px;
}

.active.active .ulMenu {
  visibility: visible;
  height: 35%;
  overflow-y: auto;
}